#container {
    background-color: lightblue;
}

#wrapper {
    border-left: solid lightblue 20px;
}


#each_comment {
    margin-top: 10px;
    list-style-type: none;
}

#actual_comment {
    list-style-type: none;
}

#process_comment {
    padding-bottom: 20px;
}
